<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title> {{ .Site.Title }} </title>

		{{ partial "head.html" . }}

	</head>
	<body>
		{{ partial "header.html" . }}
		<div class="flex-wrapper">
			<!-- <main class="container">
				{{ with .Site.Params.ProfilePicture }}
				<div class="row">
					<div class="col-sm-3 col-centered text-center">
						<img alt="profile-picture" class="img-fluid rounded-circle user-picture" src="{{.}}">
					</div>
				</div>
				{{ end }} -->
			<div class="row">
					<div class="col-xs-12 user-profile text-center">
						<h1 id="user-name">{{ .Site.Params.Name }}</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 user-social text-center">
					{{ partial "social.html" . }}
					</div>
				</div>
				{{ with .Site.Params.About }}
				<div class="row">
					<div class="col-lg-4 offset-lg-4 user-description text-center">
						<p>Hello everyone, my name is Salim Zaidi. I created this Game just for fun! it's just a puzzle that contains four stages (it's more like capture the flag (CTF) competition), you need to complete the first stage to continue to the second ... and each stage is harder and more fun then the other, in the final stage, you must find a Quote that I had put as a final solution of this Game, send that Quote (flag) to me in my email so I can know that you solved it and maybe in the future if you want to add some stages or ideas you are welcome because you earned it. Good Luck & Have Fun! Consider this Game like a hacking challenge ! compete with your friends have some fun with them, think outside the box use your skills and search about everything you see. Or if you can, try to hack this blog to show the links :) why not !
							<a href="mad-logic.netlify.app/first_stage">(Click Here To Play)</a></p>
					</div>

					<div class="col-lg-4 offset-lg-4 user-description text-center">
						<p>مرحبا بالجميع إسمي سليم زايدي. لقد أنشات اللعبة للمتعة فقط ! وهي عبارة عن لغز يحتوي على أربع مراحل, تحتاج إلى إكمال المرحلة الأولى للإنتقال للمرحلة الثانية ... وكل مرحلة تكون أصعب وأكثر متعة من السابقة. في المرحلة النهائية يجب عليك إيجاد الإقتباس الذي وضعته كحل نهائي لهذا اللعبة أرسل هذا الإقتباس إلي على بريدي الإلكتروني حتى أتمكن من معرفة أنك أكملت اللعبة وربما في المستقبل إذا أردت إضافة بعض المراحل والأفكار فأنت مرحب بك لأنك أكملت اللعبة بجدارة. حظ موفق وإستمتع! إعتبر هذه اللعبة كأنه تحدي للإخترق ! تنافس مع أصدقائك واستمتع معهم في حلها, فكر خارج الصندوق واستعمل جميع مهارتك وابحث عن كل شيء تراه في الصور. وإن كان بإمكانك إختراق هذه المدونة لإظهار الروابط, افعلها
						<a href="mad-logic.netlify.app/first_stage">(إظغط هنا للعب)</a></p>
					</div>
				</div>

				{{ end }}
				{{ if .Site.Params.blogOnIndex }}
				<div class="row">
					<div class="col-xs-12 text-center">
						<h1>Blog</h1>
					</div>
				</div>
				{{ partial "postlist.html" . }}
				{{ end }}
			</main>
			{{ partial "footer.html" . }}
		</div>
	</body>
</html>
